
.Name{
    color: #F0EAD6;
}
.Greeting{
    color: #3E735C;
    display: flex;
    justify-content: flex-start;
}

.MainText{
    color: #F0EAD6;
}
.Objective{
    color: #878da6;
    font-size: medium;
    font-style: italic;
    padding-bottom: 260px;
    font-size: large;
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
} 

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}

.Greeting, .MainText, .Name, .Objective{
margin: 25px;
text-align: left;
}
.LandingPage{    
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  @media (max-width: 557px) {
    .LandingPage {
        padding-left: 0;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .Greeting{
        color: #3E735C;
        display: flex;
        justify-content: flex-start;
        width: 180px;
    }
    .Objective{
        padding-bottom: 140px;
        padding-top: 22px;
    } 
  }

.headShot{
    width: 260px;
    float: right;
    opacity: 0.89;
    border-color: #3E735C;
    border-radius: 160px;
    padding: 2px;
}
@media (max-width: 570px) {
    .headShot{
        display: block;
        display: inline-block;
        width: 40%;
    }
}


.embed-widget-container div:last-child {
    /* CSS styles for the last child divs */
    display: none;

  }

  .embed-widget-container.has-track-list .pILb1Mxt1ADw55uBp9MT {
    height: 0px !important;
    display: none;
}
  div > .embed-widget-container.has-track-list > div {
    display: none !important;
    height: 0px;
}
p.react-reveal.Objective {
    width: 60%;
}
.spotify_widget{
    margin: 25px 0px;
    max-width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}