
.Name{
    color: white;
}
.Greeting{
    color: #5cfc79;
    display: flex;
    justify-content: flex-start;
   
}
.MainText{
    color: rgba(255, 255, 255, 0.7);
}
.Objective{
    color: rgba(255, 255, 255, 0.7);
    font-size: medium;
    max-width: 500px;
    padding-bottom: 260px;

} 

.Greeting, .MainText, .Name, .Objective{
margin: 10px;
text-align: left;
}