.LifeExperience{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    z-index: 2; 
    font-size: large;  
    padding-top: 200px;
    }

    .wwd1{
        width: 20vw; 
        border-radius: 10px;
        cursor: pointer;
        margin-right: 10px;   
        z-index: 3;  
        transition: box-shadow 1s;  
        box-shadow: 0 0 0 0 #3E735C;
        transform: scale(0);
        animation: pulse 2s infinite;    
    }
    
    .wwd2{
        width: 20vw; 
        border-radius: 10px;
        cursor: pointer;
        margin-right: 10px;   
        z-index: 3;  
        transition: box-shadow 1s;  
        box-shadow: 0 0 0 0 #3E735C;
        transform: scale(0);
        animation: pulse 2s infinite;    
    }
    img.wwd:hover{
        filter: none;
    }

    .LifeExperienceTitle{
        color:  #3E735C;
        font-size: x-large;
    }

    .cOTALink{
        text-decoration: none;
        cursor: pointer;
        color: #F0EAD6;
        text-decoration: underline;
    }

    .cOTALink :hover{
        color: #afd377; 
    }

    .cOTALink :hover{
        color: #afd377;
        cursor: pointer;
        position: relative; 
        top: -1px;
    }
    .modelingCard{
        height: fit-content;
        background-color: rgb(146 146 146 / 15%);;
        flex-direction: row; 
    }

    .LifeExperienceCardCOTA{
        height: fit-content;
        padding: 2%;
        height: 90%;
        width: 80%;
        background-color: rgb(146 146 146 / 15%);;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        text-align: center;  
        color: #F0EAD6;
        border-radius: 10px;
        transition: opacity 1s;
        transition: box-shadow .4s;
        margin-bottom: 100px;
        line-height: 1.6;
    }
    .LifeExperienceCardCOTA:hover{
        color: #F0EAD6;
        opacity: 1;       
    }

    
    .LifeExperienceCardBIF{
        height: fit-content;
        padding: 2%;
        height: 90%;
        width: 80%;
        background-color: rgb(146 146 146 / 15%);;
        display: flex;
        justify-content: center;
        color: #F0EAD6;
        flex-direction: row; 
        text-align: center;
        border-radius: 10px;
        transition: opacity 1s;
        transition: box-shadow .4s;        
        margin-bottom: 100px;
        line-height: 1.6;
    }
    .LifeExperienceCardBIF:hover{
        color: #F0EAD6;
        opacity: 1;
    }
    .LifeExperiencesContainer{
    display: flex;
    flex-direction: row;
    }
    @media (max-width: 780px) {
        .LifeExperienceCardBIF {            
            flex-direction: column;
        }
        img.wwd{
            filter: none;
        }
        .wwd1{
            display: none;
        }
        .wwd2 {
            width: 100%;
        }
      }

 