.LifeExperience{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    z-index: 2; 
    font-size: large;  
    padding-top: 200px;
    }

    .wwd{
        width: 20vw; 
        border-radius: 10px;
        cursor: pointer;
        padding-right: 7px;   
        z-index: 3;     
    }

    img.wwd{
        /* filter: grayscale(65%); */
    }
    img.wwd:hover{
        filter: none;
    }

    .LifeExperienceTitle{
        color:  #90bc42;
        font-size: x-large;
    }

    .cOTALink{
        text-decoration: none;
        cursor: pointer;
        color: #afd377; 
    }

    .cOTALink :hover{
        text-decoration: underline;
    }

    .cOTALink :hover{
        color: #afd377;
        cursor: pointer;
        position: relative; 
        top: -1px;
    }

    .LifeExperienceCardCOTA{
        height: fit-content;
        padding: 2%;
        height: 90%;
        width: 80%;
        background-color: rgba(11, 9, 10, .5);
        display: flex;
        justify-content: center;
        
        flex-direction: column; 
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
  

        border-radius: 10px;
        transition: opacity 1s;
        opacity: 0.9;
        transition: box-shadow .4s;
        
        margin-bottom: 100px;

        line-height: 1.6;
    }
    .LifeExperienceCardCOTA:hover{
        color: white;
        opacity: 1;
        box-shadow: 0 20px 50px -11px black;
       
    }

    
    .LifeExperienceCardBIF{
        height: fit-content;
        padding: 2%;
        height: 90%;
        width: 80%;
        background-color: rgba(11, 9, 10, .5);
        display: flex;
        justify-content: center;
        
        flex-direction: row; 
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
  

        border-radius: 10px;
        transition: opacity 1s;
        opacity: 0.9;
        transition: box-shadow .4s;
        
        margin-bottom: 100px;

        line-height: 1.6;
    }
    .LifeExperienceCardBIF:hover{
        color: white;
        opacity: 1;
        box-shadow: 0 20px 50px -11px black;
    }
    

    @media (max-width: 557px) {
        .LifeExperienceCardCOTA {            
            width: 90vw;
        }
      }
      @media (max-width: 557px) {
        .LifeExperienceCardBIF {            
            width: 90vw;
            flex-direction: column;
        }
      }
      @media (max-width: 557px) {
        img.wwd{
            filter: none;
        }
      }
 
    .LifeExperiencesContainer{
    display: flex;
    flex-direction: row;
    }

 