.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 600px;
  min-height: 250px;
  margin: 0 auto;
  padding: 15px;
}
@media (max-width: 470px) {
  p.description {
    height: 100px;
}
}
.testimonial-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-style: italic;
}

.testimonial-author {
  align-items: center;
  display: flex;
}

.testimonial-author img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.testimonial-author h3 {
  font-size: 15px;
  margin: 20px;
  min-width: fit-content;
}

.testimonial-author p {
  font-size: 16px;
  margin: 0;
  opacity: 0.7;
}
