.Portfolio{
padding-top: 800px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-start; 
padding: 20px; 


max-width: 100vw; 
z-index: 2; 

font-size: large;  
}

.projectCard{
    padding: 20px;
    margin: 30px;
    height: 500px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column; 
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1s;
    opacity: 0.6;
}
.projectCard:hover {
    transition: opacity .2s;
    opacity: 1;

}

.PortfolioText{
    padding-left: 900px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;    
    text-align: left;
}

.ProjectsContainer{
display: flex;
flex-direction: column;
}



