    .About{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    z-index: 2; 
    font-size: large;  
    /* padding-top: 100px; */
    }
    
    .AboutTitle{
        color:  #90bc42;
    }

    .AboutCard{
        height: 90%;
        width: 80%;
        padding: 2%;
        background-color: #081c15;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        text-align: center;
        /* color: rgba(255, 255, 255, 0.7); */
        color: white;

        border-radius: 10px;
      
        transition: opacity 1s;
        transition: color  1s;
        transition: box-shadow 1s;
        opacity: 0.9;
    }

    .AboutCard:hover{
        color: white;
        opacity: 1;
        box-shadow: 0 20px 50px -11px black;
        /* border-radius: 10px; */
    }
    
    .AboutsContainer{
    display: flex;
    flex-direction: row;

    }
    