.container {
  position: relative;
  display: flex;
  justify-content: center;
}
.container .card {
  position: relative;
  max-width: 700px;
  min-width: 300px;
  width: 60%;
  height: 450px;
  background: #232323;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s ease-in-out;

}
.container .card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%); */

  /* background: #aeafb2; */
  clip-path: circle(163px at 81% 20%);

  transition: 0.60s ease-in-out;
}
.container .card:hover:before {
  clip-path: circle(350px at 90% -20%);
}
.container .card:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(25, 182, 255, 0.05);
}
.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.3s;
}
.container .card:hover .imgBx {
  top: 10%;
  transform: translateY(0%);
}
.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-40%, -60%);
  width: 70%;
  max-height: 239px;
  max-width: 427px;
  transition: box-shadow .3s;

  border-radius: 20px;
}
.container .card:hover .imgBx img {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3)
 

}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  font-size: 14px;
}
.container .card:hover .contentBx {
  height: 210px;
}
.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}
.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}
.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2) {
  background: #aeafb2;
}
.container .card .contentBx .color span:nth-child(3) {
  background: pink;
}
.container .card .contentBx .color span:nth-child(4) {
  background: #e91e1e;
}
.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 0;
}
.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3;
}

.container .card:before { 

background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 9s ease infinite;
-z-animation: rainbow 9s ease infinite;
-o-animation: rainbow 9s ease infinite;
  animation: rainbow 9s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

