    .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 2; 
    font-size: large;  
    padding-bottom: 200px;
    margin: 20px;
    }
    
    .ContactTitle{
        color:  #3E735C;
        font-size: x-large;
    }

    .ContactsContainer{
    display: flex;
    flex-direction: row;
    
    }

 .logo{
    display: flex;
    width: 45%;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: rgba(0, 0, 0, .8);
 }

 .contactText{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: rgba(0, 0, 0, .8);
 }
 .email :hover{
   color:  #afd377;
   border-radius: 50px;
   position: relative; 
   top: -1px;   
}
 .logo svg{
    margin: 30px;
    font-size: 200%;
    color: rgba(0, 0, 0, .8);
    background: 50px color transparent;
    border-radius: 10px;
    cursor: pointer;
 }

 .logo svg :hover{
     color:  #afd377;
     border-radius: 50px;
     position: relative; 
     top: -1px;   
 }


 .gitubLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .gitubLogo :hover{
   color:  #afd377;
   border-radius: 50px;
   position: relative; 
   top: -1px;   
}

.btn {
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   padding: 22px 50px;
   font-size: 15px;
   text-transform: uppercase;
   color: #fff;
   border-radius: 50px;
   position: relative;
   transition: all .3s ease;
   text-align: center;
}

.btn--dark {
   background-color: #2f2c2c;
}

.btn-medium {
   padding: 20px 30px;
}
.btn {
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   padding: 22px 50px;
   font-size: 15px;
   text-transform: uppercase;
   color: #fff;
   border-radius: 50px;
   position: relative;
   transition: all .3s ease;
   text-align: center;
}

.btn span {
   display: inline;
   vertical-align: middle;
}
.semicircle {
   display: block;
   position: absolute;
   top: 12px;
   left: 12px;
   width: 18px;
   height: 18px;
   overflow: hidden;
}

.btn-hover-shadow:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   left: 0;
   top: 0;
   position: absolute;
   transition: all .3s ease;
}


element.style {
}
.btn--dark {
    background-color: #2f2c2c;
}
.btn-medium {
    padding: 20px 30px;
}
.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 22px 50px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    position: relative;
    transition: all .3s ease;
    text-align: center;
}

.semicircle:after {
   content: '';
   display: block;
   position: absolute;
   width: 35px;
   height: 35px;
   border: 2px solid #fff;
   border-radius: 100%;
}