    .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    z-index: 2; 
    font-size: large;  
    padding-top: 200px;
    padding-bottom: 200px;
    }
    
    .ContactTitle{
        color:  #90bc42;
    }

    .ContactsContainer{
    display: flex;
    flex-direction: row;
    
    }

 .logo{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: white;
 }

 .contactText{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: white;
 }

 .logo svg{
    margin: 20px;
    font-size: 200%;
    color: white;
    background: 50px color transparent;
    border-radius: 10px;
    cursor: pointer;
 }

 .logo svg :hover{
     color:  #afd377;
     border-radius: 50px;
     position: relative; 
     top: -1px;
 }