.NavBar{
  position: fixed;
  margin-top: 0;

  height: 90px;
  width: 100vw;
  z-index: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .1); 
}
.NavBar img{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin-left: 40px;
    }
.NavBar a{
  justify-content: space-between;
  margin-right: 40px;
  font-size: medium;
  transition:  .2s;
}

.NavBar a:hover{
  border: .5px solid  #92e5a1;
  border-radius: var(--border-radius);
  
  padding: 3px;
  transition:  .2s;
  cursor: pointer;

}

    